* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #333;
}

#main-wrapper {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  align-items: center;
}

canvas {
  margin-left: auto;
  border: 4px solid #ffff00;
  border-radius: 8px;
}

.col {
  margin-right: auto;
  margin-left: auto;

  display: flex;
  flex-direction: column;
}

.scoreboard {
  border-radius: 8px;
  border: 1px solid #00ffff;
}

.scoreboard,
th,
td {
  background-color: #111;
  padding: 16px;
  color: white;
}

th {
  color: #e0234e;
}

.currentPlayer {
  color: #00ffff;
}

.button {
  margin-top: 32px;
  background-color: #111;
  color: #e0234e;
  padding: 1em 2em;
  font-size: 18px;
  letter-spacing: 6px;
  border-radius: 8px;
  border: 1px solid #00ffff;
  cursor: pointer;
}
